.BookDetails {
    width: 60%;
    margin: 0 auto;    
}

.bookTitle {
    text-transform: uppercase;
}

.bookTitle,
.imgContainer {
    margin-bottom: 2.5rem;
}

.imgContainer {
    text-align: center;
}

.img {
    width: 100%;
}

.textContainer {
    font-family: 'Lato';
    font-size: 2rem;
}